{% extends 'taep/base.html' %}
{% load static %}

{% block title %}Testimonials{% endblock %}

{% block content %}
<main class="main">

  <!-- Page Title -->
  <div class="page-title dark-background" data-aos="fade" style="background-image: url('{% static "assets/img/page-title-bg.webp" %}');">
    <div class="container position-relative">
      <h1>Testimonials</h1>
      <p>
        Home
        /
        Testimonials
      </p>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li class="current">Testimonials</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->

  <!-- Testimonials Section -->
  <section class="testimonials-12 testimonials section" id="testimonials">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>TESTIMONIALS</h2>
      <p>Necessitatibus eius consequatur</p>
    </div><!-- End Section Title -->

    <div class="testimonial-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-4 mb-md-4">
            <div class="testimonial">
              <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" alt="Testimonial author">
              <blockquote>
                <p>
                  "TAEP connects me directly to buyers, ensuring fair prices and trust through traceability."
                </p>
              </blockquote>
              <p class="client-name">John Kamau</p>
            </div>
          </div>
          <div class="col-md-6 mb-4 mb-md-4">
            <div class="testimonial">
              <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" alt="Testimonial author">
              <blockquote>
                <p>
                  “I love the QR code system! It guarantees my food's origin and quality. ”
                </p>
              </blockquote>
              <p class="client-name">Beatrice Atieno</p>
            </div>
          </div>
          <div class="col-md-6 mb-4 mb-md-4">
            <div class="testimonial">
              <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" alt="Testimonial author">
              <blockquote>
                <p>
                  “Market insights and secure payments have boosted my agribusiness!”
                </p>
              </blockquote>
              <p class="client-name"> Aisha Mohammed</p>
            </div>
          </div>
          <div class="col-md-6 mb-4 mb-md-4">
            <div class="testimonial">
              <img src="{% static 'assets/img/blog/blog-1.jpg' %}" class="img-fluid" alt="Blog Image">
              <blockquote>
                <p>
                  “TAEP has simplified sourcing fresh produce. I can track quality and buy directly from trusted farmers!”
                </p>
              </blockquote>
              <p class="client-name">Dan Odikor</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /Testimonials Section -->

</main>
{% endblock %}
